<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>The Debaters : {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/site_media/css/960.css"/>
    <link rel="stylesheet" href="/site_media/css/text.css"/>
    <link rel="stylesheet" href="/site_media/css/reset.css"/>
    <link rel="stylesheet" href="/site_media/css/base.css"/>
    {% block custom_css %}{% endblock %}
    {% block custom_js %}{% endblock %}
</head>
<body>
    <div id="wrapper">
	<div id="header">
	    <div id="logo_box">
		<div id="logo"></div>
		<div id="menu"></div>
	    </div>
	</div>
	<div id="main"></div>
	<div id="sidebar">
	    <div id="sidebar_head"></div>
	    <div id="sidebar_main"></div>
	    <div id="footer"></div>
	</div>
    </div>
</body>
</html>
