#header, #feedback, fieldset	{
    background-color: #e8f1d4;
}
#header	{
    height: 140px;    
    position: relative;
}
#header h1  {
    margin-left: 250px;
    font: normal 350%/3.5em 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
.header_item {
    position: absolute;
}
#logo-shadow	{
    height: 78px;
    top: 12px;
}
#menu-shadow	{
    height: 32px;
    top: 92px;
}
#logo-shadow, #menu-shadow  {
    background-color: #8b8989;
    left: -22px;
}
#logo, #menu	{
    background-color: #c84f16;
    left: -24px;
}
#logo	{
    height: 80px;
    top: 10px;
}
#menu	{
    height: 30px;
    top: 92px;
}
#logo img   {
    margin-top: 6px;
}

#content    {
    margin-top: 10px;
}
#feedback   {
    height: 30px;
    margin-bottom: 10px;
}


