#header	{
    height: 140px;    
    position: relative;
    background-color: #e8f1d4;
}
#logo-shadow	{
    height: 78px;
    top: 12px;
    left: -22px;
}
#menu-shadow	{
    height: 32px;
    top: 92px;
    left: -22px;
}
#logo	{
    height: 80px;
    top: 10px;
    left: -24px;
}
#menu	{
    height: 30px;
    top: 92px;
    left: -24px;
}
#content    {
    margin-top: 20px;
}
.header_item	{
    background-color: #c84f16;
}
.shadow	{
    background-color: #8b8989;
}
.absolute   {
    position: absolute;
}
