.tab-content dl, ul    {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.tab-content dl dt	{
    font-size: 103%;
}
.tab-content dl dd	{
    margin: 0 0 .5em 0;
    font-style: italic;
}
.tab-content ul li	{
    margin: .2em;
}
.over	{
    background-color: #efefef;
}
.out	{
    background-color: #fff;
}
